<ion-header>
  <ion-toolbar>
    <ion-title>cupones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="card-body" style="margin: 10px 20px 0 20px;">
    <div class="user-meta ion-text-center">
      <h3 style="border-bottom: 1px solid grey;text-align: left;padding-bottom: 8px;padding-left: 5px;" class="playername">Introducir cupón</h3>
      <ion-item style="border: 1px solid grey; border-radius: 5px;" mode="md" class="margen">
        <form #actForm="ngForm"></form>
        <ion-input id="cupon" [(ngModel)]="cupon" (keydown)="onchange(actForm)" class="input" style="height: 48px;" type="text" name="cupon"></ion-input>
        <ion-icon class="input-ico" slot="end" [name]="'checkmark-sharp'" (click)="enviar()" style="margin-top: 15px"></ion-icon>
      </ion-item>

    </div>
    <div style="margin-top: 30px; margin-bottom: 20px; padding-bottom: 5px; border-bottom: 1px solid grey;">Cupones Anteriores</div>
    <div style="display: flex; margin-bottom: 15px;"><div style="color: #00b939; margin-right: auto;">CODIGOCUPON23423</div><div>25/02/2020</div></div>
    <div style="display: flex; margin-bottom: 15px;"><div style="color: #00b939; margin-right: auto;">CODIGOCUPON23423</div><div>25/02/2020</div></div>
    <div style="display: flex; margin-bottom: 15px;"><div style="color: #00b939; margin-right: auto;">CODIGOCUPON23423</div><div>25/02/2020</div></div>
    <div style="display: flex; margin-bottom: 15px;"><div style="color: #00b939; margin-right: auto;">CODIGOCUPON23423</div><div>25/02/2020</div></div>
    <div style="display: flex; margin-bottom: 15px;"><div style="color: #00b939; margin-right: auto;">CODIGOCUPON23423</div><div>25/02/2020</div></div>
  </div>

</ion-content>
