<ion-header>
  <ion-toolbar>
    <ion-title>cupones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="card-body" style="margin: 10px 20px 0 20px;">
    <div class="user-meta ion-text-center">
      <h3 style="border-bottom: 1px solid grey;text-align: left;padding-bottom: 8px;padding-left: 5px;"
          class="playername">Introducir cupón</h3>
      <ion-item style="border: 1px solid grey; border-radius: 5px;" mode="md" class="margen">
        <form #actForm="ngForm" style="width: 100%; position: relative;">
          <ion-input id="cupon" [(ngModel)]="ngModel.nombre" class="input" style="height: 48px;" type="text"
                     name="cupon"></ion-input>
          <ion-icon style="z-index: 999; position: absolute;top: calc(50% - 8px);right: 0;" class="input-ico" slot="end" [name]="'checkmark-sharp'" (click)="enviar(actForm)" ></ion-icon>
        </form>

      </ion-item>
    </div>
    <div style="margin-top: 30px; margin-bottom: 20px; padding-bottom: 5px; border-bottom: 1px solid grey;">Cupones disponibles
    </div>
    <div style="display: flex; margin-bottom: 15px;" *ngFor="let c of this.usuario_cupones">
      <div style="color: #00b939; margin-right: auto;">{{c.nombre}}</div>
      <div>{{c.caducidad}}</div>
    </div>
  </div>

</ion-content>
