<div class="container">
  <div class="card" style="padding: 20px">
    <h5>Productos</h5>
    <div class="responsive-table table-status-sheet" style="margin: 30px">
      <table class="bordered centered striped" style="text-indent: 1em;">
        <thead>
        <tr>
          <th>Producto</th>
          <th style="border-left: 1px solid #6a6a6a;">Precio</th>
          <th style="border-left: 1px solid #6a6a6a;width: 120px">
            <img src="../../../assets/images/add.png" alt="" style="cursor: pointer" routerLink="/producto">
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of productos">
          <td>{{p.nombre}}</td>
          <td>{{p.precio}} €</td>
          <td [ngStyle]="{'width': productos.length>=3 ? 'calc(120px - 0.2em)' : '133px'}">
            <div>
              <img src="../../../assets/images/edit.png" alt="" style="margin-left: -1em; margin-right: 1em; cursor: pointer" routerLink="/producto/{{p._id}}">
              <img src="../../../assets/images/delete.png" alt="" style="cursor: pointer" (click)="confirmdelete(p._id, p.nombre, 1)">
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <h5>Cupones</h5>
    <div class="responsive-table table-status-sheet" style="margin: 30px">
      <table class="bordered centered striped highlight" style="text-indent: 1em;">
        <thead>
        <tr>
          <th>Cupon</th>
          <th>Caducidad</th>
          <th style="border-left: 1px solid #6a6a6a;width: 120px">
            <img src="../../../assets/images/add.png" alt="" style="cursor: pointer" routerLink="/cupon">
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of cupones">
          <td>{{c.nombre}}</td>
          <td>{{c.caducidad}}</td>
          <td [ngStyle]="{'width': cupones.length>=3 ? 'calc(120px - 0.2em)' : '133px'}">
            <div>
              <img src="../../../assets/images/edit.png" style="margin-left: -1em; margin-right: 1em; cursor: pointer" alt="" routerLink="/cupon/{{c._id}}">
              <img src="../../../assets/images/delete.png" alt="" style="cursor: pointer" (click)="confirmdelete(c._id, c.nombre, 2)">
            </div>
          </td>
        </tbody>
      </table>
    </div>
    <h5>Redes sociales</h5>
    <div class="responsive-table table-status-sheet" style="margin: 30px">
      <table class="bordered centered striped highlight" style="text-indent: 1em;">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>URL</th>
          <th style="border-left: 1px solid #6a6a6a;width: 120px">
            <img src="../../../assets/images/add.png" alt="" style="cursor: pointer" routerLink="/social">
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let r of redSocial">
          <td>{{r.nombre}}</td>
          <td>{{r.url}}</td>
          <td [ngStyle]="{'width': redSocial.length>=3 ? 'calc(120px - 0.2em)' : '133px'}">
            <div>
              <img src="../../../assets/images/edit.png" style="margin-left: -1em; margin-right: 1em; cursor: pointer" alt="" routerLink="/social/{{r._id}}">
              <img src="../../../assets/images/delete.png" alt="" style="cursor: pointer" (click)="confirmdelete(r._id, r.nombre, 3)">
            </div>
          </td>
        </tbody>
      </table>
    </div>
    <h5>Promociones</h5>
    <div class="responsive-table table-status-sheet" style="margin: 30px">
      <table class="bordered centered striped highlight" style="text-indent: 1em;">
        <thead>
        <tr>
          <th>Nombre</th>
          <th style="border-left: 1px solid #6a6a6a;width: 120px">
            <img src="../../../assets/images/add.png" alt="" style="cursor: pointer" routerLink="/promocion">
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of promociones">
          <td>{{p.nombre}}</td>
          <td [ngStyle]="{'width': promociones.length>=3 ? 'calc(120px - 0.2em)' : '133px'}">
            <div>
              <img src="../../../assets/images/edit.png" style="margin-left: -1em; margin-right: 1em; cursor: pointer" alt="" routerLink="/promocion/{{p._id}}">
              <img src="../../../assets/images/delete.png" alt="" style="cursor: pointer" (click)="confirmdelete(p._id, p.nombre, 4)">
            </div>
          </td>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modals -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>{{alertHead}}</h4>
      <p>{{alertbody}}</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat" (click)="delete()">Eliminar</a>
    </div>
  </div>
  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Guardando mapa</h4>
      <progress id="img-upload-bar" value="0" max="100" style="width: 100%; margin: 10px 0;"></progress>
    </div>
  </div>
  <div id="modal3" class="modal">
    <div class="modal-content">
      <h4>Guardando mapa</h4>
    </div>
  </div>
</div>
