tbody {
  display:block;
  height:180px;
  overflow:auto;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}
thead {
  width: calc( 100% - 1em )
}
table {
  width:100%;
  border: 1px solid #6a6a6a;
}
td{
  border: 1px solid #e0e0e0;
}
th{
  border-bottom: 1px solid #6a6a6a;
}

h5 {
  color: white;
  padding-bottom: 5px;
}

tr:nth-child(even) {
  background: #ffffffb5;
}

thead tr th {
  color: white;
  letter-spacing: 2.5px;
}
