<ion-header>
  <ion-toolbar>
    <ion-title>productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="display: grid; margin-right: 8px; grid-template-columns: auto auto;">
    <ion-card style="margin-right: 0; margin-bottom: 0" *ngFor="let p of productos" (click)="agregarCarrito()">
      <ion-card-header style="padding: 0;">
        <ion-img style="height: 100px; object-fit: cover;" src="{{p.img}}"></ion-img>
      </ion-card-header>

      <ion-card-content style="padding-bottom: 0;margin: 8px 0 8px 0;">
        <div style="display: flex; justify-content: space-between;">
          <div>
            <ion-label color="primary">{{p.precio}}€</ion-label>
          </div>
          <div>
            <ion-label>/</ion-label>
          </div>
          <div style="text-align: left">
            <ion-label>{{p.codigo}}</ion-label>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>
