<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" default-href="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="margin: 15px;" class="ion-text-center">
    <ion-label style="display: flex; align-items: center; justify-content: center;">
      Tiempo estimado: 45 minutos
      <img src="../../../assets/images/clock.png" alt="Clock" style="margin-left: 5px;">
    </ion-label>
  </div>

  <div class="content-wrapper" style="padding: 0px 15px;">
    <div id="button-promotion" style="padding: 15px;border: 1px solid darkgrey;border-radius: 4px;background: var(--ion-color-primary);">Activar código promocional</div>
    <div style="color: grey; margin-top: 30px; border-bottom: 1px solid grey;">Resumen del pedido</div>
    <div id="button-dejar-en-la-puerta" style="padding: 15px;border: 1px solid darkgrey;border-radius: 4px;background: var(--ion-color-primary); margin-top: 20px">Dejar en la puerta</div>
    <div id="button-sin-contacto" style="padding: 15px;border: 1px solid darkgrey;border-radius: 4px;background: var(--ion-color-primary); margin-top: 20px">Entrega sin contacto</div>

    <div style="color: grey; margin-top: 30px; border-bottom: 1px solid grey;">Factura</div>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>


    <div id="button-pagar" style="padding: 15px;border: 1px solid darkgrey;border-radius: 4px;background: #0ffc03; margin-top: 20px; text-align: center">PAGAR</div>


  </div>

</ion-content>

<app-tabs></app-tabs>
