<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="display: flex;justify-content: space-evenly;height: 100%;flex-direction: column;">
    <div style="margin-top: -40px;">
      <div style="font-size: 19px;text-align: center;margin: -31px 15px 22px 15px;border-bottom: 2px solid white;box-shadow: 0px 8px 7px -5px #9a0479;padding: 15px;">
        <ion-label style="color: #e5e8ec;font-weight: 700;">Promociones</ion-label>
      </div>
      <div>
        <div class="img-slider">
          <div *ngFor="let p of promociones">
            <img [src]="p.img" [routerLink]="['/promocion/', p._id]">
          </div>
        </div>
      </div>
    </div>

    <div>
      <div style="font-size: 19px;text-align: center;margin: -31px 15px 22px 15px;border-bottom: 2px solid white;box-shadow: 0px 8px 7px -5px #219a04;padding: 15px;">
        <ion-label style="color: #e5e8ec;font-weight: 700;">Redes Sociales</ion-label>
      </div>
      <div>
        <div class="img-slider">
          <div class="sociales" *ngFor="let r of redSocial">
            <a href="{{r.url}}" target="_blank">
              <img class="img-sociales" [src]="r.img">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
