<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="margin-top: 20px">
    <div style="font-size: 19px;padding: 0 15px 15px 15px;">
      <ion-label style="color: #e5e8ec;font-weight: 700;">Promociones</ion-label>
    </div>
    <div>
      <div class="img-slider">
        <div *ngFor="let p of promociones">
          <img [src]="p.img" [routerLink]="['/promocion/', p._id]">
        </div>
      </div>
    </div>
  </div>

  <div style="margin-top: 50px">
    <div style="font-size: 19px;padding: 0 15px 15px 15px;">
      <ion-label style="color: #e5e8ec;font-weight: 700;">Redes Sociales</ion-label>
    </div>
    <div>
      <div class="img-slider">
        <div *ngFor="let r of redSocial">
          <a href="{{r.url}}" target="_blank">
            <img [src]="r.img">
          </a>
        </div>
      </div>
    </div>
  </div>
</ion-content>
