.input-wrapper {
  display: block !important;
}

.opacity-0 {
  opacity: 0;
}

.button-enviar[_ngcontent-jmd-c146] {
  margin-top: 20px;
  padding: 15px;
  text-align: center;
  border: 3px solid green;
  background: #0e2d0e;
  border-radius: 10px;
}
